#feedSignIn .feed-label {
    margin: 10px 0 5px;
    color: #444;
    font-style: italic;
    display: block;
}

#rssFeedUrl {
	outline:0;
    width: 413px;
    line-height: 28px;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
	padding: 0 5px;
	margin: 0 0 5px 0;
}

#rssFeedUrl:hover {
    border-color: #a3d9f6;
}

#rssFeedUrl:focus {
    border-color: #19a0e9;
    cursor:text;
}

.input-number {
    width: 5em;
    margin:0 0 5px 0;
    padding: 0 3px;
    line-height: 1.1em;
    height: 1.8em;
	outline:0;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
}

.input-number:hover {
    border-color: #a3d9f6;
}
.input-number:focus {
    border-color: #19a0e9;
}
